<html>
    <head>
        <title>@ViewData["Title"] - Minha App Modelo</title>


    </head>
    <body>

        <header>
            Menu
        </header>

        @RenderBody()

        <footer>
            <div class="container">
                Minha App Modelo - <email email-domain="barreto.com">contato</email>
                Minha App Modelo - <email>suporte</email>
            </div>
        </footer>
    </body>
</html>



